%h1 Saved Articles

%table
  %tr
    %th
    %th
    %th

  - @saved_articles.each do |saved_article|
    %tr
      %td= link_to saved_article.article.title, saved_article.article.url
    %tr
      %td= link_to "Share", :controller => "articles", :action => :new, :id => @current_user.id
      %td= link_to "Delete", saved_article, :confirm => 'Are you sure?', :method => :delete
    %tr
      %td= raw "-----------------------------"
%br