.close-box x
%h1.all-users-header Users
%ol#all-users-list
  - User.all.each do |user|
    %li.user{ :user_id => user.id }
      %header
        %h2= truncate(user.firstname + " " + user.lastname, :length => 30)
      %span.share-with-button Share an Article