%h1 User Info
%table
  %tr
    %th
      Email
    %td
      = @this_user.email
  %tr
    %th
      First name
    %td
      = @this_user.firstname
  %tr
    %th
      Last name
    %td
      = @this_user.lastname
%br