@import mixins

h1.all-users-header
  font-size: 60px
  margin-bottom: 20px
  text-align: center
  
ol#all-users-list
  margin: 0 auto
  width: $lightbox_width - 40px
  height: auto

  li
    background-color: $header-color
    border-radius: 20px
    float: left
    margin-bottom: 25px
    margin-left: 10px
    padding: 15px 0
    position: relative
    width: (($lightbox_width - 40px) / 2) - 20px
    height: 50px
    h2
      font-family: "Bebas Neue"
      font-size: 34px
      text-align: center
      text-transform: uppercase