@import mixins

h1
	color: $h1_color
	font-family: $h1_fonts
	
	
#page-wrapper
	background-color: rgb(235,235,235)
	@include align_center
	width: $full-width
	
table
	border: 1px solid black
td,
th
	border: 1px dotted black
	padding: 5px