@import mixins

$header_height: 100px
$header_color: rgb(245,245,245)
header#primary-header-wrapper
	@include align_center
	background-color: $header_color
	padding: 10px
	width: $full_width - 20px
	height: $header_height
	hgroup
		h1
			font-size: 50px