@import mixins

body#root
  #page-wrapper
    border-radius: 25px
    margin: 50px auto
    padding-bottom: 20px

  header#primary-index-header-wrapper,
  header#primary-index-header
    background-color: $root_header_color
    border-top-left-radius: 25px
    border-top-right-radius: 25px
    width: $full_width
    height: 200px
    hgroup
      h1
        color: white
        font-family: "bebas neue"
        font-size: 225px
        font-weight: 100
        line-height: 225px
        text-align: center
        width: $full_width
    
  section.index-section
    float: left
    width: ($full_width / 2)
    h1
      color: $root_header_color
      font-size: 40px
      line-height: 60px
      text-align: center
    form
      margin-left: 20px
      width: ($full_width / 2) - 60px
    table
      @include align_center


      
body
  table#users-index
    @include align-center
    border: 1px solid black
    tr,
    td
      border: 1px solid black
    th
      background-color: black
      border-left: 1px solid white
      border-bottom: 1px solid white
      color: $header-color
      font-weight: bold
      text-align: left
    th:first-child
      border-left: 1px solid black
    td.option
      font-style: italic
      
      
// FRONT PAGE
$shared-color: rgb(200,210,220)
$nytimes-color: rgb(225,225,225)
section#front-page
  .front-page-article-wrapper
    background-color: rgb(200,200,200)
    border-radius: 25px
    float: left
    margin: 20px
    padding: 20px
    //overflow: hidden
    h3
      font-size: 15px
      line-height: 100%
      margin-bottom: 10px
      text-align: center
      text-transform: uppercase
    h1
      font-size: 50px
      line-height: 100%
      margin-bottom: 10px
    p
      font-size: 13px
    article
      overflow: hidden
    .share-this
      left: -5px
      bottom: -5px
    .close-box
      font-family: helvetica

  .shared
    background-color: $shared-color
  .nytimes
    background-color: $nytimes-color
  .alignright
    @include align_right
    
  .tall
    width: ($full_width / 3) - 80px
    height: ($full_width / 3) - 80px
    h1
      font-size: 35px
  .tall-nytimes
    h1
      font-size: 25px
  .grande-vertical
    width: ($full_width / 3) - 80px
    height: (($full_width / 3) * 2) - 80px
  .grande-horizonal
    width: (($full_width / 3) * 2) - 80px
    height: ($full_width / 3) - 80px
  .venti
    h1
      font-size: 100px
    width: (($full_width / 3) * 2) - 80px
    height: (($full_width / 3) * 2) - 80px
    