<!doctype html>
%html
  %head
    %title
      THE PROJECT
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body#root
    
    #page-wrapper
      #page
        
        %header#primary-index-header-wrapper
          %header#primary-index-header
            %hgroup
              %h1
                COURI.ER
        
        %section#main-area-wrapper
          %section#main-area
            = yield
